[submodule "vendor/tact-core"]
	path = vendor/tact-core
	url = https://github.com/TACTfactory/harmony-core.git
[submodule "vendor/tact-rest"]
	path = vendor/tact-rest
	url = https://github.com/TACTfactory/harmony-bundle-rest.git
